* {
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1b19a339;
    overflow-x: hidden;
}

#background img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(3px);
}

#header {
    background: linear-gradient(to right, #270d4a, rgb(16, 26, 101));
    animation: gradiente-animacion 3s infinite linear;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: large;

    a {
        color: #ffffff;
        text-decoration: none;
    }

    a:hover {
        color: gray;
        transition-duration: 0.3s;
    }

    img {
        border-radius: 25px;
        height: 10vh;
    }
}

@keyframes gradiente-animacion {
      0% {
        background-position: 0% 0%;
      }
      100% {
        background-position: 100% 0%;
      }
}

nav {
    position: sticky;
    top: 10px;
    left: 0;
    z-index: 1000;
    background-color: #8d8d97be;
    border: 1px solid #ffffff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

    a {
        background-color: #8d8d97be;
        border: 1px solid rgb(116, 115, 115);
        border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
        padding: 20px;
    }

    a:hover {
        background-color: #bababcbe;
        box-shadow: 1px 1px 1px 1px black;
        transform: scale(105%);
        transition-duration: 0.5s;
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 30vh 70vh;
    grid-template-areas: "quienessomos quienessomos quienessomos quienessomos"
        "juegos juegos juegos juegos"
        "contact contact contact contact";

    .quienessomos {
        grid-area: quienessomos;
        margin: 20px;
        color: #ffffff;
        text-align: justify;
    }

    .juegos {
        grid-area: juegos;

        .img1,
        .img3 {
            animation-duration: 10s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }

        .img2 {
            animation-duration: 10s;
            animation-name: slidein;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
        }
    }
}

@keyframes slidein {
    from {
        margin-left: 0%;
        width: 300%;
    }

    to {
        margin-left: -200%;
        width: 300%;
    }
}

#form {
    grid-area: contact;
    border: 1px solid ;
    background-color: rgba(128, 128, 128, 0.5);
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    color: white;

    input, textarea, button {
        background-color: #ffffff;
        color: #000000;
        border-radius: 10px;
        width: auto;
        padding: 7px;
        box-shadow: #858585;
    }
}

footer {
    background-color: rgb(43, 41, 41);
    width: 100%;
    text-align: center;
    p {
    color: white;
    }
}

/* ----------------------------------------------------------------------------------------------- */

#products, #games {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 500px);
    gap: 5px;
    margin: 50px;
}

.section {
    color:#ffffff;
    text-align: center;
    div {
        background-color: #80808083;
        border-radius: 20px;
	    float: left;
	    padding: 20px 20px;
	    box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img, p, a {
            margin: auto;
            border-radius: 5px;
            width: 100%;
        }
        button {
            background-color: rgba(48, 48, 154, 0.778);
            padding: 15px;
            border-radius: 15px;
            color: white;
        }
    }
    div:hover{
        transform: scale(120%);
        transition-duration: 1s;
        border: 2px solid #003ef7; /* Azul claro, el color del borde */
    box-shadow:
    0 0 10px #003ef7,  /* Primera sombra, más suave */
    0 0 20px #003ef7,  /* Segunda sombra, más intensa */
    0 0 30px #003ef7,  /* Tercera sombra, aún más intensa */
    0 0 40px #003ef7;
    }
}

@media (max-width: 1200px) {
    .main {
        grid-template-columns: repeat(2, 1fr);
    }

    #products, #games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
    }

    #products, #games {
        grid-template-columns: 1fr;
    }

    #header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        flex-direction: column;
    }
}
